/* Reset */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

li{
    list-style: none;
}

/* variáveis de cor */
:root{
    --primary_color:#009D71;
    --secondary_color:#ffffff;
}

body{
    width: 100vw;
    height: 100vh;
}

/* estilização do cabeçalho */
header{
    background-color: #ffffff;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    color: var(--primary_color);

    /* estilização do logo da clínica */
    img{
        width: 100px;
        height: 90px
    }
    
}

/* estilização nome da clínica */
h1{
    font-family: "Aleo", serif;
    font-weight: 600;
    font-size: 3.5rem;
}

/* estilização da parte de data e hora */
.box_dateTime{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
}

.date_time{
    display: flex;
    flex-direction: column;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: #616161;
}

main{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.generate_password{
    width: calc(100%/3);
    height: 100%;
}

.buttons{
    width: 100%;
    height: auto;
    max-height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
}

.generate{
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--primary_color);
}

.generate:hover{
    background-color: #13614a;
}

.generate strong{
    color: var(--secondary_color);
    font-size: 2rem;
}

.generate span{
    color: var(--secondary_color);
    font-size: 1rem;
    margin-top: 8%;
}

.passwords{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px; 
}

li{
    width: 100%;
    
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    font-size: 2.5rem;
    border: 2px solid rgb(125, 180, 150);
}

#skeleton {
    background: linear-gradient(90deg, #e6e6e6 0%, #f2f2f2 50%, #e6e6e6 100%);
    background-size: 200% 100%;
    animation: loading 8s infinite;
    height: 50px;
    margin-top: 2.5px;
  }

  @keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }

.about_us{
    width: calc(100%/3);
    height: 100%;
}

.carousel{
    height: 75%;
    background-color: red;
}

.description{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary_color);
    align-items: center;
}

